body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background: #f6f8fb;
    color: #111;
    margin: 20px;
}

.container {
    max-width: 900px;
    margin: 36px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 22px rgba(12, 20, 36, 0.08);
}

h1 {
    margin: 0 0 16px 0;
    font-size: 20px;
}


input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;
    padding: 8px;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #575757;
    /* background: #1366d6; */
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.note {
    margin-top: 8px;
    color: #555;
    font-size: 13px;
}

code {
    background: #f2f4f7;
    padding: 2px 6px;
    border-radius: 4px;
}



#controls {
    position: sticky;
    bottom: 0;
    background: #f0f0f0;
    padding: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}



#result {
    font-size: 400%;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 70px);

    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}